html {
  font-size: 20px;
}

#aboutImg {
  height: 20rem;
  width: 20rem;
  border-style: double;
  border-color: #888888;
  background: white;
  border-radius: 50%;
  margin: 5rem -10rem;
  text-align: center;
}

#contactImg {
  height: 10rem;
  width: 15rem;
  margin: 5rem 0rem;
}

#emailMe,
#linkedin {
  height: 3rem;
  width: 3.75rem;
}

#gitHub {
  height: 3.25rem;
  width: 3.75rem;
}

.about {
  margin: 0.5rem 2rem;
  padding: 1rem 0.5rem;
  text-align: center;
}

#aboutInfo {
  padding: 0.5rem;
  font-size: 1.1rem;
  text-align: left;
}

figcaption {
  font-size: 1.1rem;
  text-align: center;
  font-weight: bold;
}

footer {
  position: absolute;
  bottom: 0; 
  width: 99%;
  height: 4.5rem;
  text-align: right;
//   align-items: center;
//   margin: 0.5rem 0rem;
  padding: 2.5rem 2rem;
}

.contact {
  margin: 0.5rem 0rem;
  padding: 2rem 2rem;
}
#contactImg {
  height: 20rem;
  width: 20rem;
}
.Inquiry {
  height: 2.5rem;
  width: 23.75rem;
  font-size: 2rem;
  text-align: center;
}

#emailid,
#nameid,
#sendid {
  height: 2.5rem;
  font-size: 0.8rem;
  width: 24rem;
}
#sendid {
  font-weight: bold;
  background-color: blueviolet;
  font-size: 1.25rem;
  width: 24rem;
}
